# Sierra Boyera model
The Sierra Boyera reservoir is located within the municipalities of the towns of Belmez, Peñarroya-Pueblonuevo and Fuente Obejuna, in the province of Córdoba (Andalusia, Spain).

Its operation has 2 main objectives: water supply (both urban and agricultural uses) and recreational purposes.

<left><img src="images/Sierra Boyera.jpg" width = "600px"><left>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interact

**Characterisitics** of the system:

<left><img src="images/system_diagram.png" width = "600px"><left>

- Maximum reservoir storage: **41 hm3**
- Minimum reservoir storage: **3 hm3**
- Basin area: **439 km2**
- Relationship between the reservoir storage volume (hm3) and the corresponding reservoir surface area (ha) is as follows:

<left><img src="data/table - Vol vs Surf.png" width = "300px"><left>
    
The minimum **environmental flows** are:
- Oct-Nov: **70 l/s**
- Dec-Apr: **140 l/s**
- May-Sep: **60 l/s**
    
Water **demand**:
- Urban - Cordoba Norte: **7.5 hm3/year**
- Agricultural:
<left><img src="data/Agricultural demand.png" width = "800px"><left>
    
Monthly **evaporation** rates (mm/month):
- Oct: **65.7**
- Nov: **33.7**
- Dec: **23.3**
- Jan: **24**
- Feb: **25.3**
- Mar: **54.7**
- Apr: **60.1**
- May: **93.3**
- Jun: **127.3**
- Jul: **172**
- Aug: **186.7**
- Sep: **133.3**

### Model inputs
First we load the available rain data (Oct 2015 to Mar 2023)

In [5]:
rain = pd.read_excel('data/rain.xlsx',index_col = 'fecha')

Then we resample the data from daily to monthly precipitation

In [6]:
rain_month = rain.resample('M').sum()

Let's plot the monthly precipitation

In [7]:
rain_month

            precipitacion
fecha
2015-10-31           49.4
2015-11-30           26.1
2015-12-31            7.5
2016-01-31           50.6
2016-02-29           15.0
...                   ...
2022-11-30           29.5
2022-12-31           63.0
2023-01-31           14.5
2023-02-28           10.2
2023-03-31           14.7

[90 rows x 1 columns]

In [ ]:
rain_month[(rain_month.index.year==2016) & (rain_month.index.month==1)]

In [15]:
dates = rain_month.index

In [24]:
dates[10].month == 8

True

Now let's create a very simple model to transform rainfall into reservoir inflows, knowing that the runoff coefficient in the  catchment is C = 0.16 (16% of the precipitation turns into runoff)

In [ ]:
inflows

### Reservoir operation policies
<left><img src="images/Rule curves.png" width = "1000px"><left>
    
<left><img src="images/Operation rule - Table.png" width = "500px"><left>

**With all this information, we would like to simulate the Sierra Boyera system from Oct 2015 until Mar 2023 and optimise its operation**.